<footer class="footer-area text-center bg-blue border-top-radius"
    [class.card-borderd-theme]="themeService.isCardBorder()" [class.component-dark-theme]="themeService.isDark()">
    <!-- <p>
        Copyright © {{date}}, <span class="text-black fw-medium">Municipio del Distrito Metropolitano de Quito. </span>Todos los derechos reservados.
    </p> -->
    <p class="text-white" style="font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 12px;">
        <strong>Copyright ©{{date}}, </strong>
        <span class="fw-small ">
            Secretaría de Gobierno Digital y Tecnologías de la Información y Comunicaciones.
            <br>
            <strong>Todos los derechos reservados.</strong>
        </span>
    </p>
</footer>