<div class="usuarios-container">
    <div class="card mb-25">
        <div class="card-body">
            <p-table 
                [value]="users" 
                [loading]="loading" 
                [paginator]="true" 
                [rows]="10" 
                responsiveLayout="scroll"
                styleClass="p-datatable-siem"
            >
                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-end">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input 
                                pInputText 
                                type="text" 
                                [(ngModel)]="searchTerm" 
                                (input)="onSearchChange($event)" 
                                placeholder="Buscar usuarios..." 
                                class="p-inputtext-sm"
                            />
                        </span>
                    </div>
                </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Usuario</th>
                    <th>Nombre de Usuario</th>
                    <th>Departamento</th>
                    <th>Roles</th>
                    <th>Estado</th>
                    
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr>
                    <td><strong>{{ user.username }}</strong></td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center p-4">No se encontraron usuarios.</td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
</div>
