<app-busqueda-predio (buscar)="onBuscar($event)"></app-busqueda-predio>

<mat-card class="siem-card mb-25 border-radius bg-white d-block"
  [class.component-dark-theme]="themeService.isDark()">

  <ng-container [formGroup]="form">
    <mat-horizontal-stepper [linear]="true" #stepper>

      <mat-step [stepControl]="form.controls['datosGenerales']">

        <ng-template matStepLabel>
          Información General
        </ng-template>

        <ng-container formGroupName="datosGenerales">
          <app-informacion-general></app-informacion-general>
        </ng-container>

        <div class="text-right">
          <button mat-stroked-button matStepperNext class="siem">
            Siguiente
          </button>
        </div>

      </mat-step>

    </mat-horizontal-stepper>
  </ng-container>

</mat-card>
