<mat-card class="siem-card mb-25 border-radius bg-white d-block" [class.component-dark-theme]="themeService.isDark()">
  <ng-container [formGroup]="form" ]>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class="mb-5">
          <mat-label>Número de predio</mat-label>
          <input matInput type="text" formControlName="numeroPredio" type="number" min="0" maxlength="10">
          <a mat-icon-button matSuffix style="margin-right: 5px;" color="primary" disabled="true"
            [attr.aria-pressed]="hide">
            <mat-icon>search</mat-icon>
          </a>
          @if (f['numeroPredio'].touched && f['numeroPredio'].invalid) {
            <mat-error style="font-size: 11px;">
              <mat-icon style="margin-right: 3px;">info</mat-icon>
              {{ f['numeroPredio'].errors?.['required']
              ? 'El número de predio es requerido' :
              f['numeroPredio'].errors?.['onlyNumbers']
              ? 'El número de predio debe contener sólo números'
              : f['numeroPredio'].errors?.['maxlength']
              ? 'El número de predio no debe exceder los 10 caracteres'
              : '' }}
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </ng-container>
</mat-card>

<mat-card class="siem-card mb-25 border-radius bg-white d-block" [class.component-dark-theme]="themeService.isDark()">
  <ng-container [formGroup]="form"]>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="form.controls['datosGenerales']">
        <ng-template matStepLabel>Información General</ng-template>
        <ng-container formGroupName="datosGenerales">
          <app-informacion-general></app-informacion-general>
        </ng-container>
        <div class="text-right">
          <button mat-stroked-button matStepperNext class="siem">Siguiente</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>
</mat-card>