<app-busqueda-predio (buscar)="onBuscar($event)" class="d-block mb-40"></app-busqueda-predio>

<mat-card class="siem-card border-radius bg-white d-block shadow-sm">
  
  <ng-template #cabecera>
    <div class="card-header-blue">
      <h2>INFORMACIÓN GENERAL</h2>
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="cabecera"></ng-container>

  <mat-card-content class="p-24">
    <ng-container [formGroup]="form">
      <mat-horizontal-stepper [linear]="true" #stepper>
        
        <mat-step [stepControl]="form.controls['datosGenerales']">
          <ng-template matStepLabel></ng-template>

          <ng-container formGroupName="datosGenerales">
            <app-informacion-general></app-informacion-general>
          </ng-container>

          <div class="actions-container">
            <button mat-flat-button color="primary" class="btn-next" matStepperNext>
              Siguiente
            </button>
          </div>
        </mat-step>

        </mat-horizontal-stepper>
    </ng-container>
  </mat-card-content>
</mat-card>