<!-- <mat-card class="siem-card create-contact-card mb-25 border-radius bg-white border-none d-block" -->
<mat-card class="siem-card mb-25 border-radius bg-white d-block">
    <mat-card-content>
        <ng-container [formGroup]="form">
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Número de predio</mat-label>
                            <input matInput readonly="true" formControlName="numeroPredio" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Clave Catastral</mat-label>
                            <input matInput readonly="true" formControlName="claveCatastral" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Administración Zonal</mat-label>
                            <input matInput readonly="true" formControlName="predioAdminZonal" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Parroquia</mat-label>
                            <input matInput readonly="true" formControlName="predioParrroquia" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Barrio / Sector</mat-label>
                            <input matInput readonly="true" formControlName="predioBarrioSector" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Nomenclatura</mat-label>
                            <input matInput readonly="true" formControlName="predioNomenclatura" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Calle Principal:</mat-label>
                            <input matInput readonly="true" formControlName="predioCallePrincipal">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="mb-5">
                            <mat-label>Calle Secundaria:</mat-label>
                            <input matInput readonly="true" formControlName="predioCalleSecundaria">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>